[2014-05-18 17:14] thuehlinger opened #4 "PidFile lookup does not work with processes named process.1, process.10, and so on"
I ran into this issue while using Delayed::Job -- maybe this is actually a bug Delayed::Job should fix, however, I believe this is still somewhat broken in Daemons.

Here's the bug:
# File lib/daemons/pidfile.rb, line 36
36:     def PidFile.find_files(dir, progname, delete = false)
37:       files = Dir[File.join(dir, "#{progname}*.pid")]
38:
39:       files.delete_if {|f| not (File.file?(f) and F

[2014-05-18 17:16] thuehlinger opened #5 "Ruby Daemons: Can monitor + multiple keep several worker children up?"
We are using daemons via active_messaging to keep our background
pollers (message queue consumers) running. We now need to increase the
amount of work done, and are looking into the multiple option. How can
we keep 4 (or any consistent number) of workers up and running. We
typically monitor the pid file with monit and have it call 'start' if
the process dies, but with multiple there is no way to t

[2014-05-18 17:17] thuehlinger opened #6 "stderr in case of no instances running"
in /lib/daemons/controller.rb

there are lines that would output an information that no "daemon" instances is running using "puts" function.

But that will make no stderr returned when use the script on Linux service.

Could you please use the funtion "abort" instead of "puts" so this would be more useful.

[2014-05-18 17:17] thuehlinger opened #7 ":monitor & :multiple options don't work well together"
When :monitor & :multiple are both set to true, and multiple daemon processes are started, only one monitor process gets started. And if the daemon processes crashes, only one of them gets restarted.

Source: http://stackoverflow.com/questions/14515250/daemons-do-not-get-restarted

[2014-05-18 17:22] thuehlinger opened #8 "Ruby Daemons Library with the Daemons.Run function"
Hello Thomas,

I've been developing a back-end server system in ruby and I was using your awesome Daemonization library seen at http://daemons.rubyforge.org/. One of the issues I am hitting is that when I execute the Daemons.run(script) method the process launches and is daemonized but the rest of the script stops running. For a full example please see: http://pastebin.com/PAwKX6RN

This seems lik

[2014-05-18 17:23] thuehlinger opened #9 "Resolve Pidfile.find_file globbing"
I believe this resolves both these issues:

http://rubyforge.org/tracker/index.php?func=detail&aid=29855&group_id=524&atid=2084
http://rubyforge.org/tracker/index.php?func=detail&aid=29874&group_id=524&atid=2084

[2014-05-18 17:24] thuehlinger opened #10 "PidFile.find_files glob is too loose"
If you have a program name that is a prefix of another you cannot run it.

I have a progname = 'doppio_preview_2', which prevents me from starting my program called 'doppio_preview' because the glob find the pid.

I have patched this in a fork but I am unsure how to pass this back to the project.

https://github.com/loe/daemons/commit/c6a1510b998ce1f15d9e3d28848bc588f8c48f71

[2014-05-18 17:24] thuehlinger opened #11 "When daemon is not running, status subcommand exit in non-zero status"
I'd like to have Daemons return non-zero value when I try status subcommand for a not-working daemon.
Right now, the status subcommand always exit by the status '0'.
Normally, the status subcommand would exit by the status '3' when the daemon is not running. I hope Daemons be the same.

As far as I see the source code, it may require not-so-small change, so I created this issue on "Feature Request

[2014-05-26 07:59] #10 closed, assigned to nobody

[2014-05-30 07:42] #9 closed, assigned to nobody

[2014-05-30 07:57] #11 closed, assigned to nobody

[2014-06-01 12:31] #6 closed, assigned to nobody

[2014-06-07 11:07] sodabrew opened #14 "Spurious Bad File Descriptor warnings"
I end up with a ton of these in my log files:

[code]

Looks like the close-all-file-handles loop isn't able to silence its warnings and my logger is capturing them. That loop normally operates on a lot of nonexistent file handles, so keeping it quiet is important :)

[2014-06-10 07:59] #14 closed, assigned to nobody

[2014-08-18 18:06] freerobby opened #18 "v1.1.10 release not on Rubygems"
I found this commit which implies a 1.1.10 release: https://github.com/thuehlinger/daemons/commit/2dcef4dcecc0f6049c7fe9f74bef5164bbe5dbf6

But it's nowhere to be found on Rubygems: http://rubygems.org/gems/daemons

@thuehlinger Did 1.1.10 get released and subsequently yanked for some reason or did it never get released?

[2014-08-18 18:47] #18 closed, assigned to nobody

[2014-10-01 00:34] ajlai opened #19 "Link to source code from Rubygems page"
Hi,
It would help a lot to add a `Source Code` link on the rubygems page (https://rubygems.org/gems/daemons)

It took a while for me to find this repo from there. Thanks!

[2014-10-02 19:58] #19 closed, assigned to nobody

[2014-10-20 10:04] Paxa opened #20 "How to set pid file location?"
When I run it, it only create file in current folder. How to change it to `/var/run/app.pid` or any other folder?

[2014-12-18 19:45] #20 closed, assigned to nobody

[2015-01-21 03:38] Aetherus commented on #20
You can set the sub process name in the sub process itself, like this:
[code]

[2015-02-12 00:33] robertoplancarte opened #22 "Using daemons to as described in section 3 of Basic Usage is broken since 70f69a71ce1f1e19e254203d6b8bcff5abc3796c"
The problem is that the `@pid.pid` in `Deamons::Application` is not getting updated when `Daemonize.call_as_deamon` is run because it is being set in the child process. You can see the problem by running the call examples (they run but leave processes running since `Daemons.group.stop_all(true)` wont find them without pids). This got broken by a commit which tried to avoid the race condition that

[2015-02-12 00:45] sodabrew commented on #22
Thanks for digging into this with a proposed fix!

[2015-02-12 20:08] dideler opened #24 "Homepage on rubygems.org page doesn't work"
The homepage for the gem on https://rubygems.org/gems/daemons links to http://daemons.rubyforge.org. RubyForge has been down for a while now and doesn't seem to be coming back.

[2015-02-16 19:40] tboyko opened #25 "Add ability to specify log file name, not just the directory"
Specifying `log_output: true` and `log_dir` in the options allows us to specify where the output file should go, but it always is of format `app_name + '.output'`. We have a log file parser that expects a different format and it would be great if there was a `log_filename` option or similar.

[2015-03-03 13:49] jrmhaig commented on #24
Regarding this, is there going to be a version 1.1.10 going up on Ruby Gems? There have been various improvements since 1.1.9.

[2015-03-08 19:49] thuehlinger commented on #24
Thanks for pointing out.
I'm working on a new release as we speak.

[2015-03-08 19:52] #22 closed

[2015-03-08 20:26] #25 closed

[2015-03-08 20:48] thuehlinger commented on #4
I don't think this is cleanly resolved. I've will change the naming scheme to "#progname_num#{number}.pid" for the case of multiple instances.

[2015-03-08 20:49] #4 closed

[2015-03-08 21:29] #24 closed

[2015-03-09 11:23] jrmhaig opened #26 "Unable to find 1.2.0"
Firstly, thank you for the release of the new version.

However, I only appear to be able to use it with Ruby 2.1.0. With any other version I have tried (2.2.0, 2.2.1 and 1.9.3) I get:

    $ bundle install
    Fetching gem metadata from https://rubygems.org/.........
    Fetching version metadata from https://rubygems.org/..
    Could not find daemons-1.2.0 in any of the sources

and

    $ gem i

[2015-03-10 06:55] thuehlinger commented on #26
You're welcome!

For me, daemons 1.2.0 installs correctly:

[code]

[2015-03-10 07:10] ledermann commented on #26
For me, v1.2.0 fails to install on Ruby 2.2.1:

[code]

Maybe there is something wrong with the gemspec file...

[2015-03-10 09:51] jrmhaig commented on #26
Curiouser and curiouser:

    $ rvm use ruby-2.0.0-p481
    Using /Users/haigj01/.rvm/gems/ruby-2.0.0-p481
    $ gem install daemons -v "1.2.0"
    Successfully installed daemons-1.2.0
    Parsing documentation for daemons-1.2.0
    1 gem installed

    $ rvm use ruby-2.0.0-p598
    Using /Users/haigj01/.rvm/gems/ruby-2.0.0-p598
    $ gem install daemons -v "1.2.0"
    ERROR:  Could not find a val

[2015-03-10 10:24] sodabrew commented on #26
@jrmhaig Each Ruby release includes a version of rubygems, however rubygems has its own release team and release schedule that is quite frequent. `gem --version` will tell you the rubygems version for the current Ruby, which is as important or more important than the version of Ruby itself. If you could post the `gem --version` for each Ruby RVM you have, that will help narrow down the problem.

[2015-03-10 11:16] jrmhaig commented on #26
It works with:

| Ruby | Rubygems |
|---|---|
| 2.0.0-p481 | 2.2.2 |
| 2.1.0 | 2.2.2 |

It does not work with:

| Ruby | Rubygems |
|---|---|
| 2.0.0-p598 | 2.4.6 |
| 2.2.0 | 2.4.6 |
| 2.2.1 | 2.4.6 |

I think that that does make it a bit clearer.

[2015-03-10 16:01] sodabrew commented on #26
Nice work! Unfortunately I don't see anything obviously suspicious here yet: https://github.com/rubygems/rubygems/blob/master/History.txt

Could you try bisecting the versions between 2.2.2 and 2.4.6 to try and pinpoint the lowest numbered bad version?

[2015-03-10 16:15] jrmhaig commented on #26
It works with 2.2.3 but fails with 2.3.0. I see, however, that 2.2.3 isn't in that History.txt file.

[2015-03-10 21:16] sunild commented on #26
I was experiencing this problem about an hour ago (Ruby 2.1.5 and Rubygems 2.2.2 as well as after updating to Rubygems 2.4.6). It seems to be fixed now :)

[2015-03-10 21:18] thuehlinger commented on #26
I updated my rubygems version from 2.0.4x to 2.4.6, yanked daemons 1.2.0 and released 1.2.1 built by the newer rubygems version. Now it at least installs with 2.4.6. Could everybody test with their respective rubygems version?

[2015-03-11 19:58] thuehlinger commented on #26
@jrmhaig @ledermann Can you confirm that daemons 1.2.1 installs correctly for you?

[2015-03-11 20:03] ledermann commented on #26
1.2.1 works fine for me - tested with Ruby 2.2.1 and 2.1.5, both using Rubygems 2.4.6. Thanks!

[2015-03-11 20:17] jrmhaig commented on #26
Yes, 1.2.1 works for me. Thanks.

[2015-03-11 20:37] thuehlinger commented on #26
Great. Thanks!

[2015-03-11 20:37] #26 closed

[2015-03-12 03:13] bwinter opened #27 "CPU 100% in version 1.2.1 update (previous version 1.1.9 works fine)"
I have a pretty bland config `./bin/application.rb`:

[code]

`./bin/app.rb` is a process that polls a queue.

When I run this: `bundle exec ruby bin/application.rb start`, the `application_monitor` process starts, then within seconds it starts consuming more and more CPU cycles (until the CPU has no more to give).

Additional problem is that the daemon doesn't respond properly to `stop` signals.

[2015-03-12 06:20] ledermann commented on #27
Same here with Ruby 2.1.5, so I reverted to daemons v1.1.9, too.

[2015-03-17 00:48] ryanjohns commented on #27
I'm seeing the same issue on ruby 2.2.0 and reverted to daemons 1.1.9.

[2015-03-17 19:41] thuehlinger commented on #27
I think I found the issue behind this. I put out a 1.2.2 pre-release with the bug fixed. The gem is not yet on rubygems.org, but only available on github: https://github.com/thuehlinger/daemons/releases/download/v1.2.2/daemons-1.2.2.gem
@bwinter, @ledermann, @ryanjohns Could you test and report back?

[2015-03-17 20:08] ryanjohns commented on #27
@thuehlinger
I can confirm that it is working as expected for me on ruby 2.2.0. I did my test against the master branch rather than the .gem you linked but it looks the same. I performed a number of tests and all the monitoring-related functionality is working well for me. Thanks so much!

[2015-03-18 12:25] ledermann commented on #27
@thuehlinger Tested with Ruby 2.1.5 and the master branch. Low CPU usage, thank you!

[2015-03-18 19:25] thuehlinger commented on #27
Thanks. I've just officially released the 1.2.2 gem.

[2015-03-25 17:24] acuppy opened #28 "Test Coverage?"
I'm not noticing any RSpec or MiniTest coverage for the gem.  Is that by design or is there another mechanism?  I'm planning to fork it and add assurances (tests) for a project that requires a certain level of coverage to be in place.

If there is not coverage in place, is coverage desired? and if so, is there a preference (RSpec or MiniTest)?

[2015-03-25 20:29] sodabrew commented on #28
Unit tests are definitely needed, thank you for offering to begin them! I don't have a testing tool preference. @thuehlinger?

[2015-03-25 23:27] acuppy commented on #28
Great.  I'm going to start with RSpec and go from there.

[2015-03-26 08:39] thuehlinger commented on #28
I'm happy with either testing tool. Please go on. Thanks in advance!

[2015-03-26 15:45] acuppy commented on #28
@sodabrew @thuehlinger Sounds good.  I'll go forth.

[2015-03-26 15:45] acuppy commented on #28
If you want to follow progress, check out my fork at https://github.com/acuppy/daemons

[2015-03-26 16:09] sodabrew commented on #28
Looks good so far! One comment: I strongly recommend renaming your `master` branch to something descriptive of the project, like `add_unit_tests`, so that if we have other commits on this master branch while you're in progress it won't require any extra merges or messy rebase.

[2015-03-26 16:09] acuppy commented on #28
For sure.  I realized that after I started.

On Thursday, March 26, 2015, Aaron Stone <notifications@github.com> wrote:

--
*Adam Cuppy*
Partner & COO | Coding ZEAL | Digital Artisans of Web and Mobile
Applications
866.858.5988 x101 | 541.660.3681 | skype: adamcuppy | twitter: @codingzeal

[2015-04-06 15:17] #27 closed

[2015-04-08 16:55] HWilbanks opened #30 "Stopping daemon via wrapper script can kill unrelated processes"
In v1.2.2 and earlier (at least to 1.1.9), calling 'ruby mydaemon_control.rb stop' can kill one of the invoking user's other processes if the pidfile contains the pid of one of those processes. I was surprised by this when, after trying to stop a daemon that wasn't running, my IDE spontaneously closed.

The issue seems to be that the process is just sent a stop signal without checking to see if it

[2015-04-13 13:57] snitko opened #31 "Sequel postgres connection fails when server run as daemon"
Not sure if this is the right repo to post this issue to, so feel free to remove it.

I've been using Sequel gem (http://sequel.jeremyevans.net/) with postgres adapter inside Goliath, which in turn uses `daemons` gem and I've noticed a very weird behavior.

If Goliath is run as a daemon, it fails with the following error:

    Sequel::DatabaseDisconnectError: PG::ConnectionBad: PQconsumeInput() SS

[2015-04-13 15:49] sodabrew commented on #31
Are you using Ruby 2.0 or higher? If so, what may be happening is the code is opening a connection to Pg first, then calling daemonize, then trying to use the connection. In Ruby 2.0+, sockets are close-on-exec by default, which means the connection to Pg is getting closed during the fork.

The simplest solution is to open connections after daemonizing, but you may have to rework some error-report

[2015-04-13 18:04] snitko commented on #31
You are right. I suspected that, but couldn't quite put my finger on it. Thank you.

[2015-04-13 18:04] #31 closed

[2015-05-10 23:14] acuppy commented on #28
I'm closing this issue in lieu of the PR #32

[2015-05-10 23:14] #28 closed

[2015-05-20 16:31] hectorvs-gxg opened #33 "QUESTION: checking exit status of process"
Ok, so, I'm trying to run a daemon like so:

[code]

when I do:

[code]

the echo returns a success 0 code instead of 1.
I've also tried to explicitly do an `exit 1`, but still, the return code is 0.

What is the correct way to do error checking?
Thanks!

[2015-05-21 07:35] thuehlinger commented on #33
It is in the nature of the daemonization process that the starting process looses control of the daemon. Therefore keeping track of a daemon exiting with return code != 0 is not possible by the means offered by daemons.

So what is happening in your script is that the script create a new daemon to run the proc and then exists immediately (with exit code 0, since it was able to successfully create

[2015-05-21 14:18] hectorvs-gxg commented on #33
Ok, I understand.

From what I could gather, the `monitor: true` option will create a separate process that's watching my spawned proc, if the spawned proc fails, the monitor will attempt to restart it. This is good functionality, but I need my users to know if the process didn't start correctly and if so, why.

Given the nature of the daemonization process, I came up with a workaround.

Basically

[2015-06-10 13:20] sunnybogawat opened #34 "getting error while accessing some external file"
I have created a file called my_server.rb and my_server_crl.rb

in my_server.rb I have following code
require './src/abcd.rb'

loop do
  p "@@@@@@@@ Welcome to Daemon world @@@@@@@@@@@@@"
  a = ABCD.new
  a.get_status()
  sleep(5)
end

Here When I am trying to require some external file I am getting error.

[2015-06-10 13:46] sodabrew commented on #34
Daemons is calling Dir.chdir '/' and so your require is no longer relative to your stating point as you are expecting. Use `require_relative` instead: http://ruby-doc.org/core-1.9.3/Kernel.html#method-i-require_relative

[2015-06-25 20:17] #33 closed

[2015-06-25 20:18] #34 closed

[2015-07-08 16:08] phoolish opened #35 "Logrotate"
I am having issues getting our daemon script to play nice with logrotate.  Since logging is being managed by the daemon gem, I am wondering if it accepts a reopen log signal like USR1 or if there is a different preferred method? Thanks.

[2015-07-08 16:42] thuehlinger commented on #35
Unfortunately daemons doesn't have this feature at the moment. I would certainly be nice to have it, but I just don't have the time to implement something like that right now. But feel free to send me a patch if you like.

[2015-07-08 22:06] phoolish commented on #35
If I have some time later this week, I'll take a look around.  Thanks for the fast reply.

[2015-07-23 21:42] daveharris opened #36 "How to set log_dir as relative path"
Hi,

I have a daemon which exists in a rails app so I'm wanting the configure daemons to put the pid and log files in the normal rails directories.

I have this setup:

[code]

This creates the pid files in `RAILS_ROOT/tmp/pids` but doesn't create a log file.

I tried removing the `log_dir` setting, which creates the file in `RAILS_ROOT/tmp/pids`.

I tried setting `log_dir: '../../log/',` thinking

[2015-09-03 17:58] cthielen opened #40 "Failure to find pid files when status or stop is specified without a number argument"
If I start a daemon with '-n 5', I get 5 processes and 5 pid files.

However, if I then simply type "status", no processes are found. Consequently, "stop" fails to work as well.

If I run "stop -n 5", (or -n 100 for that matter), daemons does correctly find the processes.

Is this the intended behavior? Presumably 'stop' and 'status' should both work without a number being specified.

[2015-09-04 17:37] boncey opened #41 "Stopped daemon processes keep respawning"
I've been using `daemons` for a year or two but have recently upgraded to the latest version (1.2.3).

Within a few days of doing this I've hit the following problem.
I run multiple processes (30+) via a daemon wrapper script (extract follows).

[code]

However, after stopping all processes (by passing `stop` to the script above) a few of the processes are still alive.
I eventually realised that t

[2015-09-04 17:48] sodabrew commented on #41
`:monitor => true` starts up a separate process to respawn the original process if it crashes. Look for a process named `tweet-processor-worker-#{Rails.env}-#{"%03d" % i}_monitor` and kill that.

[2015-09-04 17:59] boncey commented on #41
Brilliant, that did the trick (the processes are truly gone, finally!).
Thanks a lot.

This is the first time I've seen this odd respawning problem though - calling my script with `stop` has always worked correctly before.

I'll keep an eye on it and re-open this if it starts happening again.

[2015-09-04 17:59] #41 closed

[2015-09-28 07:38] jufemaiz commented on #5
Hi guys, curious if this has progressed.

[2015-11-10 17:41] philister commented on #40
We ran into that, when "script/delayed_job stop" and "script/delayed_job status" stopped working.

[2015-11-19 14:58] srswanson commented on #40
+1 on delayed_job stop and delayed_job status no longer working with version 1.2.3.  Delayed_job works properly after reverting back to daemons v1.1.9.

[2016-01-12 09:41] nlsrchtr opened #45 "Permissions on created folders different between 1.0.10 and 1.2.3"
I'm using the daemons gem in combination with delayed_job. After upgrading the daemons gem from version 1.0.10 to 1.2.3 I was experiencing a strange behavior:

Folders created with `FileUtils.mkdir_p(dir)` got a permission mask, so that the user running the processes couldn't write into that folder. I got permission denied errors. After debugging and changing the permissions to 0755, the process w

[2016-01-15 16:28] 2called-chaos commented on #5
I don't know if that helps anyone but I had a similar issue but with named instances (one name can only have one instance). I had(still have) a daemon with multiple: false but I wanted to enable "multi instances support".

I solved it by tampering with the app_name option. I guess one could adapt that to just number them? As I said I am not sure if that helps you but here you go:

https://github.c

[2016-01-17 20:04] thuehlinger commented on #45
Which permissions did you get on the folders created with `FileUtils.mkdir_p(dir)`? (and what would you have expected?)

[2016-01-18 09:36] nlsrchtr commented on #45
Thanks for you feedback, @thuehlinger. I'll try to update the version again and give you more details an the permissions.

[2016-03-23 15:42] onlinetocode commented on #36
Hi @daveharris,

I have the same problem here. Do you found a solution for this?

Thanks,
Maurice

[2016-03-23 19:59] daveharris commented on #36
Hi @onlinetocode,

I eventually set the `log_dir` option to an absolute path, but used Ruby to build it for me:
[code]

Hope that helps.
Dave

[2016-03-23 20:12] onlinetocode commented on #36
Thank you @daveharris, that works perfect!

[2016-04-19 18:08] lmrodriguezr opened #46 "Make daemon start silent"
Hello,

Is there any supported option (or plans to support an option) to tell daemons to run quietly? Usually the `"...: process with pid ... started."` and `"...: trying to stop process with pid..."` messages are very useful, but in some cases (_e.g._ unit testing) it would be great if I could turn them off. It's not a high-priority enhancement, but I would imagine is not very hard to implement.

[2016-04-19 19:39] thuehlinger commented on #46
Have you trieded to `:shush` option?

[2016-04-19 21:28] lmrodriguezr commented on #46
No, I didn't see it in the docs. How do I pass it? I just tried `:shush=>true` but it doesn't seem to have any effect.

[2016-04-28 15:00] thijsc opened #47 "Closing of all FD's breaks existing logging and connections"
I'm debugging a problem some customers of ours are running into. Our monitoring gem has some file descriptors open, but these are closed after a daemonize call:

[code]

This happens  in https://github.com/thuehlinger/daemons/blob/73ffe58eaac7186cc992170f4ae88ae06e1aff40/lib/daemons/daemonize.rb#L132

From my point of view it is actually essential that these FD's stay open after the daemonize. Cou

[2016-04-28 16:07] sodabrew commented on #47
Can you initialize the monitoring calls _after_ daemonizing?

[2016-04-28 18:54] thijsc commented on #47
We can't be sure that the monitoring gets initialized after the daemonize call unfortunately.

One use case where this is causing issues if when our gem gets initialized from Rails which starts before DJ daemonizes. The only way I can see at the moment to fix this is to make our gem able to properly detect these failures and re-open everything it needs. That's possible, but quite a big change just

[2016-04-28 19:10] thuehlinger commented on #47
I must admit I don't remember any specific scenarios that required closing all FDs. If I remember corretly, this code was already in daemonize.rb by Travis Whitton which forms the basis for daemons. Not knowing whether people are actually relying on the fact that all FDs are closed, I would however not like to remove this part. Would a switch help?

[2016-04-28 23:22] sodabrew commented on #47
It's been standard practice to close excess file descriptors for about two decades.

[2016-05-07 18:15] joshuasiler commented on #40
Looks like this is the commit that broke delayed_jobs
https://github.com/thuehlinger/daemons/commit/55382e5a8a6baa8c01612f3d39578c967685cfcb

[2016-05-07 18:37] thuehlinger commented on #40
I feel that this should be fixed in delayed_jobs, not in daemons. Before 1.2.3, the .pid file matching in daemons was too loose (glob for `process_name*.pid`). This has been corrected in 1.2.3. If delay_jobs is using process names with ascending numbers for `start`, it should also use them for `status` and `stop`.

[2016-05-13 14:11] thijsc commented on #47
I did some further digging and have been able to work around this. For future reference, Delayed Job has a pretty neat workaround. They store all FD's and reopen them:

https://github.com/collectiveidea/delayed_job/blob/401f43e076c25559ec65fdfa611a0d94b7b29eb1/lib/delayed/worker.rb#L78

[2016-05-13 14:11] #47 closed

[2016-06-16 00:39] washogren opened #49 "Monitored daemon with multiple=false improperly runs multiple times"
Hi!

I've run into a bug that's unfortunately a big issue for us. Basically, we have a daemon running, and we only want one instance of the daemon to run at once, and we run with monitoring enabled so that it is restarted automatically on error conditions.

We're running it with a command like the following:
`Daemons.run(SERVICE_PATH,
              app_name:     SERVICE_NAME,
              multipl

[2016-08-02 18:33] thuehlinger commented on #46
The `:shush` option should now work in the latest release (v1.2.4).

[2016-08-05 23:52] lmrodriguezr commented on #46
Great! Thanks!

[2016-08-24 14:29] sblackstone opened #50 "OSX hangs on close_io"
I'm using delayed_job which utilizes daemons.  When I run "delayed_job run" from my application, its hanging in this block on my OSX box (but seems ok in my docker container on Ubuntu)..

[code]

If I add a print in the loop here, I get this:

[code]
which from the output of lsof is some sort of pipe.

If I change the order of the functions in close_io so that it runs the close_fd loop before the

[2016-08-24 17:16] thuehlinger commented on #50
Can you try to replace `[$stdin, $stdout, $stderr]`by `[STDIN, STDOUT, STDERR]`? There was a change in the last release that might have had undesired side effects.

[2016-08-24 17:25] sblackstone commented on #50
I tried changing it to this:

[code]

And the output is:

[code]

with lsof showing:

[code]

[2016-08-24 17:27] thuehlinger commented on #50
So is it still hanging? (in the original order of the calls)

[2016-08-24 17:29] sblackstone commented on #50
Yep - its hanging at the last line in that output...  Calling close on that fd..

[2016-08-24 17:31] thuehlinger commented on #50
Then I rather don't think it is a daemons issue.  Can you open a bug report for `delayed_job`?

[2016-08-24 17:32] sblackstone commented on #50
will do - thanks.

[2016-08-24 18:31] sblackstone commented on #50
Cross posting this from the delayed_job ticket - its related to trying to call close with fsevent_watch running..

[code]

[2016-08-24 18:56] sblackstone commented on #50
Update - So delayed_job calls Daemons.run_proc from within an environment that already has Rails loaded and Rails doesn't seem to like having all its IO closed out from underneath it.

Perhaps a cmd line option is in order to disable the close_io call within simulate?  Or running without simulate at all?

[2016-08-25 12:26] #50 closed

[2016-11-11 14:50] EYurchenko opened #52 "Failure to install development dependency pry-byebug with '~> 0' version constrain"
[code]
But it is impossible to install pry-byebug
[code]

[2016-11-21 22:13] #46 closed

[2017-01-29 16:35] thuehlinger commented on #52
Which Ruby version are you using? I believe pry-byebug is not available on 1.8.x...

[2017-01-30 14:41] BGmot commented on #52
ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux]

The problem is in dependency specification - there is no pry-byebug gem version 0.x.x: https://rubygems.org/gems/pry-byebug/versions

[2017-01-31 17:33] thuehlinger commented on #52
You are right. In fact this was already fixed in master, but the change is not in the 1.2.4 release. Are you in a hurry to get this fixed in a release? Otherwise I would release 1.2.5 only as soon as there are more pressing fixes.

[2017-01-31 19:06] BGmot commented on #52
No, there is nothing urgent here. We are hosting our own gemservers and it was just spamming errors about not being able to install this dependency. I made a stub. Thanks.

[2017-02-06 08:46] parhs opened #53 "Stopping daemon log file error?"
When I am trying to stop I get this message written:
Config:
[code]

[2017-02-08 18:47] thuehlinger commented on #53
Where do you get this output? STDOUT? STDERR?

Does your script get stopped as it should and is the .pid file correctly removed? Can you confirm that the monitor process terminates correctly?

[2017-03-29 18:03] shoup-healthtap opened #55 "apps inherit app_name even when new name is specified"
I'm trying to run multiple groups of daemons, each group with a different name. The daemons run correctly, but they inherit their name from the first group to run even when I explicitly specify a new name.

example code:
    options1 = {
      multiple: true,
      app_name: task1
    }
    options2 = {
      multiple: true,
      app_name: task2
    }
    2.times do Daemons.call(options1) { doTas

[2017-04-02 08:22] thuehlinger commented on #55
Yes, this is the intended behaviour, since the simple `#call` interface assumes that you only want one application group.
I suggest to create different `ApplicationGroup`s yourself and use these to create your applications. Like so:
`
options[:proc] = myproc1
group1 = ApplicationGroup.new(app_name, options)
group1.new_application(options)

options[:proc] = myproc
group2 = ApplicationGroup.new(app_

[2017-06-06 02:14] andreac92 commented on #53
Hi,

We're getting the same exact SIGTERM errors.

Our .pid file gets removed correctly, and the monitor process and script terminate. Any ideas what could be causing this?

[2017-06-25 10:39] thuehlinger commented on #53
So far, unfortunately, not. Any chance you can prepare a minimal example that shows this behaviour? This would be very helpful for me for testing.

[2017-06-25 11:56] parhs commented on #53
I will create a repo with this. With little digging this error seems to occur with monitoring.
My guess is since watch is a never ending loop with sleep, when app is terminated due to SIGTERM , exception is caught and logged here
https://github.com/thuehlinger/daemons/blob/master/lib/daemons/monitor.rb#L65

[2017-07-24 03:30] hxhxd opened #57 "Windows: fork() function is unimplemented on this machine (NotImplementedError)"
Hello, I'm using ruby on windows, but daemons won't work because fork() is unimplemented on windows.
Is there a workaround for this?
Thanks.

[code]

[2017-07-24 05:33] thuehlinger commented on #57
If you are using a native Ruby distribution there is currently no workaround. You could however use Cygwin where fork() supported.

[2017-07-25 10:03] lingceng commented on #36
It seems the output_logfile and logfile **did not** use **File.expand_path**, but the pid dir **did**.

[2017-07-25 20:47] daveharris commented on #36
Nice work @lingceng - that certainly explains why `::File.expand_path` made it work.
Is there a fix in the works @thuehlinger? Is this project under active development?

[2017-07-26 15:57] thuehlinger commented on #36
The project is in what I would call "maintance mode". The discussed issue can certainly be fixed.
All we would need to do is to apply ```File.expand``` to ```dir```and ```log_dir```, right?

[2017-07-26 19:38] hxhxd commented on #57
Yeah I'm using native Ruby distribution, and need keep using it for a while.
I've tried install Cygwin version but there're problems when both native/Cygwin  versions of Ruby installed.
I'll try Cygwin version only when native version no longer needed.
Thanks :)

[2017-07-26 21:23] daveharris commented on #36
@thuehlinger I believe so yes

[2017-07-30 18:45] thuehlinger commented on #36
@daveharris I have pushed a fix. Can you test? If everything works as you were hoping for I would then release a new version of the gem.

[2017-08-20 18:13] thuehlinger commented on #36
@daveharris Did you have the chance to test this change?

[2017-08-20 21:04] daveharris commented on #36
Hey sorry @thuehlinger I haven't. I've moved onto a different project at work so I'm not using `daemons` now. I've been really busy on other stuff but will try and switch back to the other project and give it a test

[2017-08-29 20:30] aeldaly opened #59 "Specify number of processes"
I'm trying to build a daemon that accepts the number of processes to spawn as an argument.

Here's the runner:
[code]

And this is `script/startup/jobs`:

[code]

This is not working. It ends up running `runner.run` only once.

I also tried wrapping `runner.run` inside a `fork` but that is not working either. Any ideas on how to do this?

Thanks.

[2017-08-29 20:32] aeldaly commented on #59
Also, it's not really logging anything to the log file

[2017-08-29 20:39] aeldaly commented on #59
Another weirdness...

Changed runner to this:

[code]

And then did the below:
[code]

So the pid inside the file is not the same as the running process, and then the pid file disappears. Calling `stop` at this point does nothing.

[2017-08-29 20:59] thuehlinger commented on #59
Which Ruby gem does ```AsyncRunner``` originate from? I do not see an import in your code. I guess that AsyncRunner is created new processes for the tasks which are then obviously
not tracked by daemons. The main spawned process exits after having created the tasks and therefore its .pid file will be cleaned up. I guess its just not a good idea to combine AsyncRunner and daemons. What you actually

[2017-11-26 17:07] Timopheym commented on #57
Is there actualy no possability to find it? Even the thing that guys find out?
https://github.com/vagrant-landrush/landrush/issues/16
There is actual hell with dependecies to move the whole list of packages from native version (i know i am stupid doing development on window)

[2017-11-26 19:42] thuehlinger commented on #57
Hmmm, I guess we might be able to mimick the behavior using spawn (as in the reference you have given: https://github.com/hferentschik/landrush/commit/9523710f9771a08fd2b2d53f8de7373fca6c0860#diff-695e5af033f2e918c112401dcbf9bfb1R63)... Let me look into this a bit...

[2017-12-20 21:37] mastermindg opened #60 "Where is the documentation?"
This is no link to the documentation that I can see. Rubygems links to this repo for documentation. I need to know all of the options available to the module. Where is the full documentation?

[2017-12-24 12:59] thuehlinger commented on #60
Documentation can be read using the command line tool `ri`or can be found at http://www.rubydoc.info/gems/daemons. I added a link to this site to the newly published gem 1.2.6.

[2017-12-24 12:59] #60 closed

[2018-01-24 16:05] lavebug commented on #35
Has anyone figured this one out I need to keep my log small?

[2018-02-01 13:46] floodico opened #62 "run many workers"

[2018-02-05 19:54] thuehlinger commented on #62
This is because Daemons.run full transfers control to daemons and does not return.
For your scenario, it might be more helpful to use procs, see third example in daemons.rb:

[code]

[2018-02-16 17:49] parhs commented on #49
Its over 1y but I have similar issue. Ended up using monit for this

[2018-03-05 15:32] phoolish commented on #35
@lavebug nope

[2018-03-15 21:06] utkarshrai003 opened #63 "Run n Instances of a script parallelly in background and kill all of them when needed."
I am trying to run n instances of a script in parallel using daemons. The script performs some operation and I want to run this same script on multiple instances to get the work done faster.

Can this be achieved by using daemons and how will I kill all the running instances from the console when I need to stop them?

[2018-04-04 20:30] Viperey opened #64 "Run script files in background (as daemons)"
Hi.

For some reason I'm not fully understanding the usage of the library for some cases.
My use case is the following:
+ I have a main process (called scheduler), this scheduler knows the location of a script that performs a certain task.
+ My goal is to call such script as a completely separated script file (using the `:script` argument).
+ The scheduler want to run several times (virtually infi

[2018-04-10 09:44] thuehlinger commented on #64
For your application it would probalby be easiest if you called your script just using e.g. ```system()``` and then within the script ```require 'daemons.rb'```and then call ```Daemons.daemonize()```. This way, the child script is detached from the parent process.

[2018-04-11 09:18] Viperey commented on #64
Oh, cool then it seems it was using the wrong design approach.
Thanks for the advice!

[2018-04-11 09:18] #64 closed

[2018-05-21 10:23] saju62 opened #68 "Turns out delayed_job was executing a job causing a segmentation fault, which would kill the delayed_job daemon."
I'm getting the following error when i run bin/delayed_job status -
`pid-file for killed process 3045 found (/path_to/tmp/pids/delayed_job.pid), deleting.`

After certain research that I found this error was caused because of segmentation fault.

I found the solution from [stackoverflow](https://stackoverflow.com/questions/11837344/delayed-job-dies-with-out-error-leaving-job-in-locked-state), it s

[2018-05-27 12:26] thuehlinger commented on #68
Looks to me like a problem with delayed_job, please post this issue in the respective place.

[2018-05-27 12:26] #68 closed

[2018-05-29 08:39] isqad opened #69 "Why parent process does not care about child"
Hello! Andrew here!
I have a question about the line https://github.com/thuehlinger/daemons/blob/6f0ea6b15c6c1ca1bf23119156117fffa58d6514/lib/daemons/daemonize.rb#L49

Here we got pid from child throw pipe. But then we do not call Process.waitpid / Process.detach for it. Why?

Every time when child process terminated in docker container I get "zombie" process, because tmppid and pid are diffirent.

[2018-07-18 23:02] johlym opened #70 "Detatch doesn't consider external logging"
We're noticing with the daemons gem that when it detaches the process for daemonization, it closes all the file descriptors and I/O streams. On the surface that's fine, but when it re-opens them, it doesn't consider external I/O streams and only opens the STD* pipes and logging to files. It seems like there's an assumption that the only logging that would take place is internal via one of the STDs

[2018-10-09 05:03] entwanderer commented on #57
I would appreciate it, if there will be a solution in future. :-)

[2018-11-28 10:21] tardate commented on #40
yes, also just run into this via delayed_job. Looking at the respective changes, it appears as if the issue is is just a pid file naming convention?

DelayedJob still uses: `delayed_job.1.pid`, `delayed_job.2.pid` etc.
This is now a miss-match on the glob in daemons 1.2.3+ https://github.com/thuehlinger/daemons/blob/master/lib/daemons/pidfile.rb#L34
as daemons now expects (the very ugly IMHO!) `de

[2018-11-28 10:58] tardate commented on #40
@thuehlinger ran a little test - see https://github.com/evendis/delayed_job/commit/87a396a2682063e12749847e576d163fce5e8f64
which seems to confirm this is just a pid-file naming convention disagreement.

The commit switches delayed job to use the new convention for daemons 1.2.3+ (`<base>_num<i>`), and solves the start/stop issue.

However, changing the process/pid file naming convention for Delay

[2018-12-10 20:02] thuehlinger commented on #40
@tardate Thanks for the testing and foremost for the pull request. I think your analysis and fix is reasonable. I have just merged it and I am about to prepare a release 1.3.0 which also includes your other merge request.

[2018-12-10 20:02] #40 closed

[2018-12-23 16:24] tagliala opened #74 "Question: Semantic Versioning"
Hi,

does this gem follow Semantic Versioning?

In other words, is it safe to set `spec.add_dependency 'daemons', '~> 1.3'` without incurring in breaking changes?

Thanks

[2018-12-24 12:53] thuehlinger commented on #74
Since recently I am trying to follow semantic versioning, yes. So it should (hopefully) be safe to add such a dependency.

[2018-12-24 13:22] #74 closed, assigned to nobody

[2019-08-15 15:29] ultrawebmarketing commented on #40
I'm using daemons 1.3.1 and delayed_job 4.1.5 and still having this issue. Is there something i'm missing?

[2019-09-13 16:12] adamruzicka commented on #7
What is the status here? The issue is set to milestone 1.3.0 and latest version is 1.3.1, but the issue is still open.

[2019-10-10 01:28] magneland opened #76 "Make working directory compatible with macOS Catalina"
Hello!
I noticed that this gem uses '/' as its working directory here: [lib/daemons/daemonize.rb#L108].
In macOS Catalina this is a read-only directory, which causes issues.
My understanding of the change in macOS Catalina is that it by default partitions the file system into read-only for the OS, and read-write for applications.

I hate to make a gem OS-specific, but maybe some kind of extra conf

[2020-06-18 03:29] trombik opened #78 "`daemons` always exits with zero"
even when something causes an error, the application exits with zero.

https://github.com/thuehlinger/daemons/blob/bf0ca25aa9ead5b451fbb9a111ff73f9bc5dd942/lib/daemons/cmdline.rb#L119-L129

[2021-11-03 09:10] scooler opened #84 "Problematic behavior when handling TERM Signal"
Problem
-----------
It toke me quite a while to figure out why I was seeing errors like this in my logs:
[code]
After some testing I managed to get it to show up when I would use daemon-rails' gem `rake daemons:<name>:restart`

I managed to figure out the reason, and IMO it's a pitfall that I wouldn't be the only one to fall into.

daemons [catches the TERM Signal](https://github.com/thuehlinger/d

[2021-12-16 19:17] jamesarosen commented on #7
Related: `:monitor` + `:multiple` results in zombie processes.
[code]

This will result in the Monitor restarting some of the daemons, but they won't be in `@tasks` and will run forever. `Daemons.call` also doesn't give access to the `ApplicationGroup` or the `Monitor` instance itself, so there's no way to instruct them to shut down.

[2021-12-22 01:40] jamesarosen commented on #62
If you want to be able to use a manager to control the tasks as a group, I recommend `run_proc` instead of `call`:
[code]

Then you can start, stop, and get status:
[code]

[2022-10-07 19:21] dwaynemac opened #89 "NoMethodError: undefined method `positive?' for 20:Fixnum"
Trying to run `RAILS_ENV=production script/delayed_job -n2 restart`
fails with

[code]

This is my Gemfile.lock
[code]